
.container {
  padding: 40px 0px 0px 0px;
  width: 500px;
}

.container input[type=text] {
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.container .item {
  border-left: 1px solid #ccc;
  margin: 25px 5px;
  padding: 5px 10px;
}

.container .item p {
  padding: 0px;
  margin: 0px;
}

.container .item .contents {
  width: 95%;
  display: inline-block;
}

.container .item .remove {
  width: 5%;
  height:100%;
  display: inline-block;
  vertical-align: top;
}

.container .item .remove span {
  float: right;
}